streamlit==1.38.0
tensorflow-cpu==2.15.0
mediapipe==0.10.14
opencv-python-headless==4.10.0.84
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.1
seaborn==0.13.2
joblib==1.4.2
tqdm==4.66.4
